<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NN Test Suite">
	<listeners>
		<listener class-name="niko.listeners.AnnotationTransformer" />
		<listener class-name="niko.listeners.Listener" /> 
		<listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"></listener>
	</listeners>

	<test name="SuiteUnitTest">
		<classes>

			<class name="niko.TitlesTest" />
			<class name="niko.SelectDropdownListTest" />
			<class name="niko.UnitTest" />
			<class name="niko.AjaxFormSubmitTest" />
			<class name="niko.JQuerySelectTest" />
	
		</classes>
	</test>
</suite>